################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Intensive/bin
/Intensive/obj
/.vs/Intensive/v16/TestStore/0
